body {
  background-color: lightyellow;
}

#title {
  margin: 0 auto;
  font-family: cursive;
  font-weight: bold;
}

.main {
  border: 1px solid black;
  width: 100%;
  margin: 0 auto;
  height: 500px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.cardCol {
  border: 1px solid red;
  width: 45%;
  float: left;
  height: 100%;
}

.middleCol {
  width: 10%;
  float: left;
  height: 50px;
  border: 1px solid white;
  font-size: 0px;
}

.leftCol {
  background-color: blue;
}

.rightCol {
  background-color: pink;
}

@media screen and (max-width: 1200px){
  .main {
    width:100%;
    display: block;
    margin: 0 auto;
  }
  .cardCol {
    width: 100%;
    height: 20vh;
  }

  .middleCol {
    margin: 0 auto;
    width: 100%;
    font-size: 12px;
    height: 23%;
  }
  #ballContainer {
    background-color: black;
    width: 10%;
    height: 100%;
    margin: 0 auto;
    border-radius: 100%;
  }

  #ballDiv {
      padding: 37%;
      margin: 0px;
      height: 100%;
      color: white;
  }
}
